# Node.js
node_modules/
package-lock.json

# Python / Pytest
__pycache__/
*.py[cod]
*.pyo
env/
venv/
.venv/
*.egg-info/
.pytest_cache/
.coverage
coverage.xml
pytest.ini
pytest.ini
.polygon-health/

# Test Scripts
merge_code.py
merged_code.txt
fhir_benchmark_queries.csv
fhir_benchmark_queries copy.csv
langgraph.xlsx
langgraph_tests.xlsx
benchmark_test.py


# React
/build/
/.env
/.env.local
/.env.development
/.env.test
/.env.production

# Cursor
.cursor/
.vscode/

# Ruff
.ruff_cache/